<%- include('./includes/head.ejs') %>
  </head>

  <body>
    <div class="error">
      <div class="left">
        <div class="img">
          <a href="/">
            <img src="/img/googlelogo_color_272x92dp.png" alt="" />
          </a>
        </div>
        <p>
          <b>404</b>
          <ins class="grey maingrey">That's an error.</ins>
        </p>
        <p class="bottom">
          <span>The requested url was not found on this server</span>.
          <ins class="grey">That's all we know</ins>
        </p>
      </div>
      <div class="right">
        <img src="/img/robot.png" alt="" />
      </div>
    </div>
<%- include("./includes/end.ejs") %>